{% extends 'base.html' %}

{% block title %}Add Teams | {{ course.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-3 justify-content-between">
        <div class="col-auto">
            <h2>Add Teams - {{ course.course_code }}: {{ course.name }}</h2>
        </div>  
    </div>
    <div class="row mx-4">
        <div class="col">
            <h6 class="fw-lighter"><b>Professor: </b>{{ course.created_by.get_full_name }} (<a href="#">{{ course.created_by.email }}</a>)</h6>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col">
            <h6 class="fw-lighter"><b>Description: </b>{{ course.description }}</h6>
        </div>
    </div>
    <div class="row m-4 p-3 border shadow rounded justify-content-center" id="classInfoBox">
        <div class="row">
            <div class="col">
                <h4>Teams:</h4>
            </div>
        </div>
        {% if not teams %}
        <div class="row">
            <i>There are currently no teams in this course.</i>
        </div>
        {% else %}
        {% for team in teams %}
            <div class="row m-2 p-3 rounded" style="background-color: rgb(237, 237, 237);">
                <div class="row">
                    <h5>
                        {% if team.name == "" %}
                        <i>(Unnamed Team)</i>:
                        {% else %}
                        {{ team.name }}
                        {% endif %}
                        {% if team in request.user.teams.all %}
                        <h6 style="color: var(--bc-gold);">You are on this team.</h6>
                        {% endif %}
                    </h5>
                </div>
                <div class="row mt-2">
                    <h6 class="fw-lighter"><b>Members:</b>  
                        {% if not team.members.all %}
                        <i>There are currently no members on this team.</i>
                        {% else %}
                            {% for member in team.members.all %}
                            {{ member.get_full_name }} (<a href="">{{ member.email }}</a>);
                            {% endfor %}
                        {% endif %}
                    </h6>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        <hr class="m-3">
        <div class="row">
            <div class="col-auto">
                <h5 class="fw-bold">Add Teams</h5>
            </div>
            <div class="col-auto align-self-center">
                <h6 class="fw-lighter" style="font-style: italic;">Please select the number of teams you wish to create.</h6>
            </div>
        </div>
        <form action="{% url 'view_course' course.name course.pk %}" method="post">
            {% csrf_token %}
            <div class="row m-2">
                <div class="col-auto align-self-end">
                    <label for="numTeams" class="form-label fw-bold">Number of Teams to Create:</label>
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="numTeams" name="numTeams" placeholder="e.g. 3" min="1" max="10" required>
                </div>
            </div>
            <div class="row m-2 pt-3 justify-content-end">
                <div class="col align-self-end">
                    <h6 class="fw-lighter">Click <b>'Add Teams'</b> To create new teams within the course. You can edit these teams on the course homepage by clicking on the <b>'Edit Team'</b> button.</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="{% url 'view_course' course.name course.pk %}" class="btn btn-secondary rounded-pill">Cancel</a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg gold-btn" type="submit">Add Teams</button>
                </div>
            </div>
        </form>
    </div>
    <br>
</div>
{% endblock %}