<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Peer Assessment System{% endblock %}</title>
    <!-- Added optional bootstrap functionality -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    <!-- Can put styling into a separate CSS file but going to leave it here for now -->
    <style>
        :root {
            --bc-maroon: #8b0000;
            --bc-gold: #bfa76f; 
        }

        .gold-btn {
            background-color: #bfa76f;
            color: white;
        }

        .gold-btn:hover {
            background: #9b885a;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md p-3" style="background-color: var(--bc-maroon)">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}" style="color: var(--bc-gold);">Peer Assessment System</a>
                <ul class="navbar-nav">
                    <li class="nav-item m-2">
                        <a href="{% url 'home' %}" class="nav-link active" style="color: var(--bc-gold);">Home</a>
                    </li>
                    <li class="nav-item m-2">
                        <a href="{% url 'dashboard' %}" class="nav-link active" style="color: var(--bc-gold);">Dashboard</a>
                    </li>
                    <!-- Temporarily comment out until you implement Google login -->
                    <!-- <a href="{% url 'google_login' %}">Login With Google</a> -->
                    <li class="nav-item m-2">
                        <a href="#" class="btn gold-btn">Login With Google</a> 
                    </li>
                </ul>
                
            </div>
        </nav>    
        
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <nav class="navbar" style="background-color: var(--bc-maroon);">
            <div class="container-fluid">
                <img class="navbar-brand" src="{% static 'images/logo.png' %}" alt="Ctrl Alt Elite Logo" style="color: var(--bc-gold);">
                <p class="nav-item m-2" style="color: var(--bc-gold);">© 2025 Ctrl Alt Elite Peer Assessment System</p>
            </div>
        </nav>
    </footer>
</body>
</html> 