{% extends 'base.html' %}

{% block title %}{{ course.course_code }}: {{ course.name }}{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="row mt-3">
        <div class="col">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row pt-3 justify-content-between">
        <div class="col-auto">
            <h2>Course Details - {{ course.course_code }}: {{ course.name }}</h2>
        </div>  
        <div class="col-auto">
            <a href="{% url 'course_dashboard' %}" class="btn btn-secondary rounded-pill">Return to Courses</a>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col">
            <h6 class="fw-lighter"><b>Professor: </b>{{ course.created_by.get_full_name }} (<a href="#">{{ course.created_by.email }}</a>)</h6>
        </div>
    </div>
    <div class="row mx-4">
        <div class="col">
            <h6 class="fw-lighter"><b>Description: </b>{{ course.description }}</h6>
        </div>
    </div>
    <div class="row m-4 p-3 border shadow rounded justify-content-center" id="classInfoBox">
        <div class="row">
            <div class="col">
                <h4>Teams:</h4>
            </div>
        </div>
        {% for team in teams %}
            <div class="row m-2 p-3 rounded" style="background-color: rgb(237, 237, 237);">
                <div class="row">
                    <h5>
                        {% if team.name == "" %}
                        <i>(Unnamed Team)</i>:
                        {% else %}
                        {{ team.name }}
                        {% endif %}
                        {% if team in request.user.teams.all %}
                        <h6 style="color: var(--bc-gold);">You are on this team.</h6>
                        {% endif %}
                    </h5>
                </div>
                <div class="row mt-2">
                    <h6 class="fw-lighter"><b>Members:</b>  
                        {% if not team.members.all %}
                        <i>There are currently no members on this team.</i>
                        {% else %}
                            {% for member in team.members.all %}
                            {{ member.get_full_name }} (<a href="">{{ member.email }}</a>);
                            {% endfor %}
                        {% endif %}
                    </h6>
                </div>
                <div class="row mt-2">
                    <div class="col-auto">
                        {% if course.created_by == request.user and user.role == "professor" %}
                            <a href="{% url 'edit_team' course.name team.pk %}" class="btn maroon-btn">Edit Team</a>
                        {% elif team in request.user.teams.all %}
                            <a href="#" class="btn maroon-btn">Contact Team</a>
                        {% else %}
                            <a href="#" class="btn maroon-btn">Request to Join Team</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if course.created_by == request.user and user.role == "professor" %}
        <div class="row m-3 justify-content-between">
            <div class="col-auto align-self-center">
                <h6 class="fw-lighter">To delete a team, click on <b>'Edit Team'</b> then <b>'Delete Team'</b> to remove the desired team. To add more teams, click on the <b>'Add Teams'</b> button.</h6>
            </div>
            <div class="col-auto">
                <a href="{% url 'add_teams' course.name %}" class="btn maroon-btn btn-lg">Add Teams</a>
            </div>
        </div>
        {% endif %}
        <hr class="m-3">
        <div class="row">
            <div class="col-auto mt-2">
                <h4>Active Assessments:</h4>
            </div>
        </div>
        {% if not assessments %}
        <div class="row">
             <i>There are currently no active assessments in this course.</i>
        </div>
        {% else %}
            {% for assessment in assessments %}
            <!-- Build out functionality to link assessments -->
            {% endfor %}
        {% endif %}
        {% if course.created_by == request.user and user.role == "professor" %}
        <div class="row m-3 justify-content-between">
            <div class="col-auto align-self-center">
                <h6 class="fw-lighter">To create a new assessment, click on the <b>'Create Assessment'</b> button.</h6>
            </div>
            <div class="col-auto">
                <a href="{% url 'create_peer_assessments' %}" class="btn maroon-btn btn-lg">Create Assessment</a>
            </div>
        </div>
        {% endif %}
        <hr class="m-3">
        <div class="row">
            <div class="col-auto mt-2">
                <h4>Students:</h4>
            </div>
        </div> 
        {% if not students %}
        <div class="row">
             <i>There are currently no students enrolled in this course.</i>
        </div>
        {% else %}
            {% for student in students %}
            <div class="row mt-1">
                <h6 class="fw-lighter">{{ student.get_full_name }} (<a href="#">{{ student.email }}</a>);</h6>
            </div>
            {% endfor %}
        {% endif %}
        {% if course.created_by == request.user and user.role == "professor" %}
        <div class="row m-3 justify-content-between">
            <div class="col-auto align-self-center">
                <h6 class="fw-lighter">To add students to a course, click on the <b>'Invite Students'</b> button. Alternatively, you can invite students directly to teams. </h6>
            </div>
            <div class="col-auto">
                <a href="{% url 'invite_students' %}" class="btn maroon-btn btn-lg">Invite Students</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% if course.created_by == request.user and user.role == "professor" %}
    <div class="row m-3 justify-content-end">
        <div class="col align-self-center">
            <h6 class="fw-lighter">To de-activate the course, click on <b>'Edit Course'</b>, then <b>'De-Activate Course'</b>. Once a course is de-activated, it can still be re-activated.</h6>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn gold-btn btn-lg">Edit Course</button>
        </div> 
    </div>
    {% endif %}
</div>
{% endblock %}